@page
@using asp_net_sql.Models
@using asp_net_sql.Pages
@model Admin_IndexModel<EnumGameRoster>

@{
    ViewData["Title"] = "EnumGameRoster List";
}

<h1>EnumGameRoster List</h1>

<form method="post">
<table class="table">
    <thead>
    @{
        var colArr = ViewData["Columns"];
        if(colArr != null) {
            var cols = colArr as string[];
            if(cols?.Length > 0)
            {
                <tr>
                    @foreach (var col in cols) 
                    {
                        <th>@col</th>
                    }
                </tr>
            }
    }
}
        <tr>
            <th>ID</th>
            <th>Origin</th>
            <th>IDX</th>
            <th colspan="3">Identity</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.DbSetItems)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Origin</td>
                <td>@item.IDX</td>
                <td>@item.Identity</td>
                <td>
                        @if (item == Model.DbSetItems.First())
                    {
                        <button id="aspRouteIdentVal_button"
                            type="submit" 
                            asp-page-handler="ChangeOrigin" 
                            asp-route-pkey="@item.ID"
                            asp-route-identVal="aspRouteIdentVal">
                            Change Identity (Post)
                        </button>
                        <input id="aspRouteIdentVal_input" type="text" value="@item.Identity" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</form>

<script type="module">
    window.addEventListener('load', () => {
        const btn = document.getElementById('aspRouteIdentVal_button');
        const inp = document.getElementById('aspRouteIdentVal_input');
        const onBlur = () => {
            const fa = btn.getAttribute('formaction');
            btn.setAttribute('formaction', fa.replace('aspRouteIdentVal', encodeURI(inp.value)));
        };
        inp.addEventListener('blur', onBlur);
    });
</script>
