@page "{DbSetTEntityName?}"

@using System.Reflection;

@using asp_net_sql.Common
@using asp_net_sql.Pages.CodeBehind

@model Admin_CB

@{
    var DbSetNames = Model.DbSetInfo.Keys.ToList();
    var DbSetPropInfo = Model.ViewDataGen.DbSetPropInfo;

    if (DbSetNames == null)
    {
        ViewData["Result"] = new Result(
            ResType.Error,
            new Dictionary<string, List<string>> {
                {
                    "Razor.Admin_IndexModel",
                    ["ViewData missing"]
                }
                    });
        return;
    }

    var selfName = Model.DbSetTEntityName;
    ViewData["Title"] = $"{selfName} List";
    ViewData["Result"] = Model.ViewDataGen.result;
}

<h1>Admin</h1>

<menu id="adminMenu">
    @foreach (var menuItem in DbSetNames)
    {
        var cls = menuItem == selfName ? "menu selected" : "menu";
        <a class="@cls" href="/Admin/@menuItem">@menuItem</a>
    }
</menu>

@{
    // the form below is shown only for /Admin/SomeTableName
    // the end of page for /Admin/
    if (selfName == "" || DbSetPropInfo == null) return;

    var row = 0; // global for use in JS
    var allProps = string.Join(",", DbSetPropInfo.Select(pInf => pInf.Name));
}

<h2>@selfName</h2>

<form id="fullForm" method="post">
    <table class="table">
        <thead>
            <tr>
                @foreach (var pInf in DbSetPropInfo)
                {
                    <th>@pInf.Name</th>
                }
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                var items = Model.ViewDataGen.AsyncDbSetItems ?? [];
                foreach (var item in (dynamic)items)
                {
                    var btnIdOneUpdate = $"btn__one__update__{row}";
                    var btnIdOneDelete = $"btn__one__delete__{row}";
                    <tr>
                        @foreach (var pInf in DbSetPropInfo)
                        {
                            var inpId = $"inp__{pInf.Name}__{row}";
                            <td>
                                <input id="@inpId" type="text" value="@pInf.GetValue(item)" />
                            </td>
                        }
                        <td>
                            <button id="@btnIdOneUpdate"
                                    type="submit"
                                    asp-page-handler="CRUD">
                                Change
                            </button>
                            <button id="@btnIdOneDelete"
                                    type="submit"
                                    asp-page-handler="CRUD">
                                Delete
                            </button>
                        </td>
                    </tr>
                    row++;
                }
            }
        </tbody>
    </table>
</form>

<form id="createForm" method="post">
<input type="hidden" name="crudtype" value="one" />
<input type="hidden" name="crudaction" value="create" />
<table class="table">
    <tr>
        @foreach (var pInf in DbSetPropInfo)
        {
            <td>
                <input name="@pInf.Name" type="text" value="" />
            </td>
        }
        <td>
            <button id="btn__one__create"
                type="submit"
                asp-page-handler="CRUD">
            Add
            </button>
        </td>
    </tr>
</table>
</form>

<script type="module">

    window.addEventListener('load', () => {

        const propArr = '@allProps'.split(',');

        const get = id => document.getElementById(id);
        const getAttr = (elem, attr) => elem.getAttribute(attr);

        const createInputElem = (name, value) => {
            const elem = document.createElement("input");
            elem.setAttribute('name', name);
            elem.value = value;
            elem.type = "hidden";
            return elem;
        };

        /**
        * Create a new form on the fly to POST only one row of data
        * clone verification token from the original form, if available
        */
        const createPartialForm = (crudtype, crudaction, row) => {
            const fullForm = get('fullForm');
            const partForm = fullForm.cloneNode();
            const pfId = `partForm__${row}`;
            partForm.id = pfId;

            const inputRow = document.querySelectorAll(`input[id$="__${row}"]`);
            inputRow.forEach(elem => {
                const pInfName = getAttr(elem, 'id').split('__')[1];
                const value = elem.value;
                const oldVal = getAttr(elem, 'value');
                const inpValue = createInputElem(pInfName, value);
                const inpOldVal = createInputElem('old__' + pInfName, oldVal);
                partForm.appendChild(inpValue);
                partForm.appendChild(inpOldVal);
            });

            const inpCT = createInputElem('crudtype', crudtype);
            const inpCA = createInputElem('crudaction', crudaction);
            partForm.appendChild(inpCT);
            partForm.appendChild(inpCA);

            document.body.appendChild(partForm);

            return pfId;
        };

        for (let row = 0; row < @row; row++) {

            const btnOneUpdate = get(`btn__one__update__${row}`);
            const btnOneDelete = get(`btn__one__delete__${row}`);

            [btnOneUpdate, btnOneDelete].forEach(btn => {

                const btnId = btn.id.split('__');
                const crudtype = btnId[1];
                const crudaction = btnId[2];

                btn.addEventListener('click', evt => {
                    evt.preventDefault();
                    const pfId = createPartialForm(crudtype, crudaction, row);
                    const partForm = get(pfId);
                    partForm.setAttribute('action', btn.getAttribute('formaction'));
                    const tokenElem = document.querySelector('input[name="__RequestVerificationToken"]');
                    if (tokenElem) partForm.appendChild(tokenElem.cloneNode());
                    partForm.submit();
                })
            });
        }
    });
</script>
