@page

@using System.Reflection;

@using asp_net_sql.Models
@using asp_net_sql.Pages
@model Admin_IndexModel<EnumGameRoster>

@{
    ViewData["Title"] = "EnumGameRoster List";
    var DbSetNames = ViewData["DbSetNames"] as List<string>;
    var DbSetPropInfo = ViewData["DbSetPropInfo"] as List<PropertyInfo>;
    if (DbSetNames == null || DbSetPropInfo == null)
    {
        ViewData["Result"] = new Result(
            Result.ResType.Error,
            new Dictionary<string, string[]> {
                {
                    "Razor.Admin_IndexModel",
                    new string[] { "ViewData missing or cast error" }
                }
            }
        );
        return;
    }
    var row = -1;
    var allProps = string.Join(",", DbSetPropInfo.Select(pInf => pInf.Name));
}

<h1>EnumGameRoster List</h1>

<menu id="adminMenu">
    @foreach (var menuItem in DbSetNames)
    {
        <div>@menuItem</div>
    }
</menu>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                @foreach (var pInf in DbSetPropInfo)
                {
                    <th>@pInf.Name</th>
                }
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.AsyncDbSetItems)
                {
                    row++;
                    var btnId = $"btn_{row}";
                    <tr>
                        @foreach (var pInf in DbSetPropInfo)
                        {
                            var inpId = $"inp_{pInf.Name}_{row}";
                            <td>
                                <input id="@inpId" type="text" value="@pInf.GetValue(item)" />
                            </td>
                        }
                        <td>
                            <button id="@btnId"
                                    type="submit"
                                    asp-page-handler="Update">
                                Change (Post)
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>

<script type="module">
    window.addEventListener('load', () => {

        const propArr = "@allProps".split(',');

        const onClick = (row, btn) => {
            let fa = `&row=${row}`;
            for (const pr of propArr) {
                const inp = document.getElementById(`inp_${pr}_${row}`);
                fa += `&${pr}=${encodeURI(inp.value)}`;
            }
            const attr = btn.getAttribute('formaction');
            btn.setAttribute('formaction', attr + fa);
        };

        for (let row = 0; row < @row; row++) {
            const btn = document.getElementById(`btn_${row}`);
            btn.addEventListener('click', evt => {
                // evt.preventDefault();
                onClick(row, btn);
            });
        }
    });
</script>
