@page

@using asp_net_sql.Pages.CodeBehind

@model Setup_CB

@{
    var gameRoster = Model.AsyncDbSetItems.Where(itm => itm.Origin != "None");
}

<script type="module">

    const get = id => document.getElementById(id);

    const chosen = { 
        left: null, 
        right: null,
        leftOrigin: null,
        rightOrigin: null
    };

    const ctaBtn = get('cta');
    const chosenLeft = get('chosenLeft');
    const chosenRight = get('chosenRight');

    const chosenElems = document.querySelectorAll(`[id^=chosen_]`);

    const UpdateButton = str => { 
        const btnMessages = {
            ready_ai: "I like to watch...o_o",
            ready_human: "Fight, Mortals!",
            ready_mix: "For the Organics!",
            both_missing: "Choose players",
            left_missing: "Choose left player",
            right_missing: "Choose right player",
        };

        ctaBtn.textContent = btnMessages[str];

        ctaBtn.classList.toggle('ctaDisabled', str.includes('missing'));
    };

    const OnClick = elem => {

        const idAttr = elem.id;
        const originAttr = elem.dataset.origin;

        const [_, side, id] = idAttr.split('_');

        if (id == chosen[side]) return;

        const [thisSide, otherSide] = side == 'left' ? ['left', 'right'] : ['right', 'left'];

        chosen[thisSide] = id;
        chosen[thisSide + 'Origin'] = originAttr.toLowerCase();

        if (id == chosen[otherSide]) chosen[otherSide] = null;

        if (chosen[otherSide] == null) {
            UpdateButton(`${otherSide}_missing`);
        } else {
            const thisOrigin = chosen[thisSide + 'Origin'];
            const otherOrigin = chosen[otherSide + 'Origin'];
            if (thisOrigin == otherOrigin)
                UpdateButton(`ready_${thisOrigin}`);
            else
                UpdateButton(`ready_mix`);
            
            // update form post fields
            chosenLeft.value = chosen.left;
            chosenRight.value = chosen.right;
        }
    };

    chosenElems.forEach(elem => {
        elem.addEventListener('click', () => { 

            OnClick(elem);

            chosenElems.forEach(elem => {
                const [_, side, id] = elem.id.split('_');
                const on = chosen[side] == id;
                elem.classList.toggle('on', on);
            });
        });
    });

    UpdateButton(`both_missing`);

</script>

<div class="main_container">
    <div class="header">1</div>
    <div class="left">
        @await Html.PartialAsync("_InfoPartial")
    </div>
    <div class="middle">
        <div class="aspect chosen_container">
            <div class="left_player">Left Player</div>
            <div class="right_player">Right Player</div>
            <div>Origin</div>
            <div> </div>
            <div>Identity</div>
            <div>Identity</div>
            <div> </div>
            <div>Origin</div>

            <div class="player_info">
                @foreach (var item in gameRoster)
                {
                    var id = item.ID;
                    var identity = item.Identity;
                    var origin = item.Origin;
                    
                    <div>@origin</div>
                    <div> </div>
                    <div class="chosen_left" id="chosen_left_@id" data-origin="@origin">@identity</div>

                    <div class="chosen_right" id="chosen_right_@id" data-origin="@origin">@identity</div>
                    <div> </div>
                    <div>@origin</div>
                }

            </div>
            <div class="cta center">
                <form method="post">
                    <input type="hidden" id="chosenLeft" name="chosenLeft" value="">
                    <input type="hidden" id="chosenRight" name="chosenRight" value="">
                    <button id="cta" formaction="./Game">...</button>
                </form>
            </div>
        </div>
    </div>
    <div class="right">4</div>
    <div class="footer">5</div>
</div>
